.contacts {
  @include page-grid;
  &__section-title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0;
    grid-column: 1/-1;
    white-space: nowrap;

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__form {
    grid-column: 1/-1;
    width: 100%;

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__form--input {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    padding-left: 16px;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    &::placeholder {
      color: #7e7e83;
      transition: color 0.3s ease;
    }
    &:hover::placeholder {
      color: #292929;
    }
    &:focus {
      border: 1px solid $main-text-color;
    }
  }

  &__input--message {
    min-height: 148px;
    padding: 14px 16px;
  }

  &__button {
    @include button;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__txt {
    grid-column: 1/-1;

    @include on-desktop {
      grid-column: 7/-1;
      grid-row: 2/3;
    }

    &--head {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
      color: #9393a3;
      margin-bottom: 8px;
    }

    &--value {
      font-family: 'Space Mono', monospace;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      color: #191919;
      margin-bottom: 24px;
      text-decoration: none;
    }
  }
}
